<!doctype html>
<html lang="en">
<head>
  <title>Prompt Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d414e5ddf1.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>


  <%= csrf_meta_tags %>
</head>

<body>
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui inverted vertical labeled icon ui overlay left visible sidebar menu">

        <%- if current_user -%>
        <a href="/">
        <div class="prompt-title">Prompt Me!</div></a>
        <div class="navbar-brand"></div>
        <div class="nav-links-box">


          <a href="/" class="navigation-links">
           Home
         </a>
         <a href="/new" class="navigation-links">
           New Post
         </a>
         <a href=/profile/<%= current_user.id %> class="navigation-links">
          Profile
        </a>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "navigation-links" %>


      </div>
      <i class="fab fa-twitter-square fa-lg"></i>
      <i class="fab fa-facebook-square"></i>

      <%- else -%>
        <a href="/">
        <div class="prompt-title">Prompt Me!</div></a>
        <div class="navbar-brand"></div>

      <div class="nav-links-box">
        <a href="/" class="navigation-links">
         Home
       </a>
       <a href="/" class="navigation-links">
         About
       </a>
       <%= link_to 'Login', new_user_session_path, :class => "navigation-links" %>
       <%= link_to 'Sign Up', new_user_registration_path, :class => "navigation-links" %>

     </div>
     <i class="fab fa-twitter-square fa-lg"></i>
     <i class="fab fa-facebook-square"></i>
     <%- end -%>
   </div>
 </div>
 <div class="eleven wide column">

  <%- flash.each do |key, value| -%>
  <div class="flash flash-<%= key %>">
    <%= value %>
  </div>
  <%- end -%>
  <%= yield %>

  <%- if current_user -%>

  <%- end %>


  <%- if Rails.env.development? || Rails.env.test? -%>
  <%= javascript_tag do %>
  window.railsEnv = '<%= Rails.env %>'
  <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  <%= yield :extra_footer %>
</div>

</body>
</html>
