<!doctype html>
<html lang="en">
<head>
  <title>Prompt Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/d414e5ddf1.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar justify-content-between">
    <form class="form-inline">

      <%- if current_user -%>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "btn btn-outline-secondary" %>

      <%- else -%>
      <%= link_to 'Sign Up', new_user_registration_path, :class => "btn btn-outline-secondary" %>
      <%= link_to 'Sign In', new_user_session_path, :class => "btn btn-outline-secondary" %>
      <%- end -%>
    </form>
    <a class="navbar-brand" href="/">Prompt Me!</a>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-auto">
        <div class="sidenav">
          <div class="sidenav-content">

            <%- if current_user -%>
            <div class="media">
              <img src=<%= current_user.profile_photo.url %>/ class="navBarUserIcon">
              <div class="media-body">
                <a href=/profile/<%= current_user.id %>><%= current_user.username %></a>
                <div class="usertext">
                  <p>
                    <%= current_user.status %>
                  </p>
                </div>
              </div>
            </div>

            <div class="userAboutText">

              <div class="squarebrackets">
                <p>
                  <%= current_user.about %>
                </p>
              </div>
            </div>

            <%- else %>

            <div class="media">
              <img src="https://i.imgur.com/U2ReTXA.png" class="navBarUserIcon">
              <div class="media-body">
                Guest
                <div class="usertext">
                  <p>
                    welcome
                  </p>
                </div>
              </div>
            </div>

            <%- end -%>

            <div class="icons">
              <span>• •</span> NAVIGATE
            </div>
            <div class="sidenav-links1">
              <i class="far fa-calendar-alt"></i>
            </div>

            <div class="linkscontainer">
              <span class="navlinks"><a href="/profile/3">About</a></span>

              <span class="navlinks"><a href="#">Services</a></span>

              <br/>
              <span class="navlinks"><a href="#">Clients</a></span>

              <span class="navlinks"><a href="#">Contact</a></span>
            </div>

          </div>
        </div>

      </div>

      <div class="col basicset">
        <%- flash.each do |key, value| -%>
        <div class="flash flash-<%= key %>">
          <%= value %>
        </div>
        <%- end -%>
        <%= yield %>


      </div>
      <%- if current_user -%>

      <div class="newPostButton">

        <a href="/new"><i class="fas fa-plus"></i></a>
      </div>


      <%- end %>
      <%= javascript_include_tag 'application' %>

      <%- if Rails.env.development? || Rails.env.test? -%>
      <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
      <%- end -%>
      <%- end -%>
      <%= javascript_pack_tag 'application' %>
      <%= yield :extra_footer %>
    </div>
  </div>
</body>
</html>
